:root {
    --white: #efefef;
    --grey: #55565B;
    --black: #202020;
    --yellow: #FDE724;
    --green: #008139;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
}

.container {
    max-width: 1190px;
    padding: 0 10px;
    margin: 0 auto;
}

.header {
    background-image: url('../images/offer-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    min-height: 70px;
}

.menu {
    margin-left: auto;
}

.menu__list {
    display: flex;
}

.menu__list-item+.menu__list-item {
    margin-left: 40px;
}

.menu__list-link {
    color: var(--black);
    text-transform: uppercase;
    font-size: 13px;
    line-height: 15px;
    font-weight: 400;
    transition: all .3s ease;
    border-bottom: 1px solid inherit;
    color: var(--black);
}

.menu__list-link:hover {
    border-bottom: 1px solid var(--green);
    padding-bottom: 10px;
}

.header__contact {
    margin-left: 57px;
}

.number__link {
    padding-left: 26px;
    position: relative;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: var(--black);
}

.number__link::before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 3px;
    background-image: url('../images/phone-icon.svg');
    background-repeat: no-repeat;
}

.header__contact-text {
    margin-top: 8px;
    padding-left: 26px;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: #7D808A;
}

.header__content {
    padding: 88px 0 450px;
}

.header__offer {
    max-width: 613px;
}

.header__title {
    font-family: 'Philosopher';
    font-style: normal;
    font-weight: 700;
    font-size: 57px;
    line-height: 60.99px;
    color: #000;
}

.header__text {
    position: relative;
    margin: 40px 0 46px;
    padding-left: 42px;
    max-width: 520px;
    font-family: 'Alegreya Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 33.6px;
    color: #646464;
}

.header__text span {
    font-weight: 700;
}

.header__text::after {
    content: '';
    position: absolute;
    width: 26px;
    height: 1px;
    background-color: #8f8f8f;
    left: 0;
    top: 16px;
}

.header__btn {
    cursor: pointer;
    background: rgb(255, 248, 190);
    background: linear-gradient(180deg, rgba(255, 248, 190, 1) 0%, rgba(255, 200, 3, 1) 100%);
    padding: 21px 75px;
    border-radius: 5px;
    color: #6A5300;
    border: none;
    -webkit-box-shadow: 0px 8px 0px 0px rgba(200, 156, 0, 0.56);
    -moz-box-shadow: 0px 8px 0px 0px rgba(200, 156, 0, 0.56);
    box-shadow: 0px 8px 0px 0px rgba(200, 156, 0, 0.56);
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 32px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    transition: all .3s ease;
    display: inline-block;
}

.header__btn:hover {
    background: rgb(243, 230, 134);
    background: linear-gradient(180deg, rgba(243, 230, 134, 1) 0%, rgba(255, 184, 2, 1) 100%);
}


/* About section */

.about__title {
    font-family: 'Philosopher';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 36px;
    text-align: center;
    color: #363434;
    margin-bottom: 70px;
}

.about__inner {
    display: flex;
    justify-content: space-between;
}

.about-img {
    margin-left: -160px;
}

.about__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}

.about__items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px 80px;
}

.about__item-numb {
    color: var(--green);
    font-family: 'Philosopher';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 160%;
}

.anout__item-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
    color: #0B0B0B;
}

.about__text {
    font-size: 15px;
    line-height: 28px;
    color: #7E7E7E;
}